.t-t-t-container{
  background-color: rgb(0, 0, 0);
  height: 86vh;
  width: 70vw;
  margin: 0px auto;
  padding-top: 80px;
  position: relative;
}
.titel{
  text-align: center;
}
.box-row{
  display: flex;
  justify-content: center;
}
.box{
  height: 110px;
  width: 110px;
  text-align: center;
}
.box:hover{
  z-index: 100;
  background-color: rgba(33, 27, 27, 0.591);
}

  .b-1{
  border-right: 4px solid rgb(240, 246, 249);
  border-bottom: 4px solid rgb(240, 246, 249);
  }
  .b-2{
  border-right: 4px solid rgb(240, 246, 249);
  border-bottom: 4px solid rgb(240, 246, 249);
  }
  .b-3{
    border-bottom: 4px solid rgb(240, 246, 249);
  }


  .b-4{
    border-bottom: 4px solid rgb(240, 246, 249);
  }
  .b-5{
    border-bottom: 4px solid rgb(240, 246, 249);
    border-left: 4px solid rgb(240, 246, 249);
    border-right: 4px solid rgb(240, 246, 249);
  }
  .b-6{
    border-bottom: 4px solid rgb(240, 246, 249);
  }

  .b-8{
    border-left: 4px solid rgb(240, 246, 249);
    border-right: 4px solid rgb(240, 246, 249);
  }
  
.X-O-img{
    margin: 0px auto;
    margin-top: 20px;
    font-size: 350%;
    display: block;
    }

.players-container{
  display: flex;
  justify-content: space-around;
  
}
.player{
  color: aliceblue;
  font-size: 20px;
}
.X-O-player{
  width: 20px;
  margin-left: 2px;
}
.current-player{
  color: aliceblue;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 40%;
}
.reset-btn{
  display: block;
  margin: 0px auto;
  margin-top: 50px;
  padding: 5px 20px;
  border: none;
  border-radius: 2px;

  font-size: 20px;
  color: #fff;
  background-color: red;
}
.reset-span{
  display: block;
  height: 85px;
}

@media  (max-width: 767px) {
  .t-t-t-container{
    height: 80vh;
  }
  .X-O-img{
    width: 50%;
  }
  .box{
    height: 20vh ;
  }
  .current-player{
    position: relative;
    bottom: 350px;
    width: 350px;
  }
  .current-player{
    left: 20%;
  }
}
@media  (max-width: 467px){
  .box{
    height: 80px ;
    width: 15vh;
  }
  .t-t-t-container{
    height:89vh ;
  }
  .current-player{
    top: -50px;
    left: 20%;
  }
  .X-O-img{
    margin-left: 10px;
    margin-top: 9px;
    font-size: 300%;
    }
  
}
